body {
	margin: 0;
	padding: 0;
}

header ul, header ul li {
	list-style-type: none;
	margin: 0;
	padding: 0
}

header ul {
	display: flex;
}

header ul li {
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: underline;
}

header ul li:hover {
	text-decoration: none;
}

.users {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.user {
	border: 3px dashed gray;
	max-width: 250px;
	margin: 10px;
	padding: 10px;
}

.post {
	margin: 20px auto;
	padding: 10px;
	max-width: 700px;
	border: 3px dashed gray;
	background: #eaedf2;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: justify;
}

.post h2 {
	padding: 0;
	margin: 0;
	cursor: pointer;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: 600;
}

main button {
	width: 200px;
	height: 40px;
	margin: 20px 0 40px;
	margin-left: 40%;
	cursor: pointer;
}

.comments {
	max-width: 800px;
	margin: 0 auto;
}

.comments .comment {
	padding: 10px;
	border-bottom: 1px solid black;
}

.comments .comment:first-child {
	border-top: 1px solid black;
}

.comments .comment .comment-email {
	width: 100%;
	text-align: right;
	font-family: "FreeMono", monospace;
}

.comments .comment .comment-name {
	padding: 10px 0;
	font-family: Arial Narrow, sans-serif;
	font-weight: 700;
	font-size: 20px;
}

a.anchor {
	position: fixed;
	right: 40px;
	bottom: 40px;
	font-size: 40px;
	color: black;
	text-decoration: none;
	text-shadow: 1px 1px 3px gray;
}